<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hue.xgd.ttyx.activity.mapper.ActivityInfoMapper">
    <resultMap id="ActivityRuleMap" type="hue.xgd.ttyx.model.activity.ActivityRule" autoMapping="true"></resultMap>
    <select id="findCartActivity" resultMap="ActivityRuleMap">
        select info.id as activityId,sku.sku_id as skuId
        from activity_info info
        inner join activity_sku sku on info.id=sku.activity_id
        <where>
            <if test="skuIdList!=null">
                and sku.sku_id in
                <foreach collection="skuIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        and now() between info.start_time and info.end_time
        </where>
    </select>
    
    <select id="selectSkuIdListExist" resultType="Long">
        select activity_sku.sku_id
        from activity_info
                 inner join activity_sku
                            on activity_info.id=activity_sku.activity_id
        <where>
            <if test="skuIdList!=null">
                and activity_sku.sku_id in
                <foreach collection="skuIdList" item="item" index="index" open="(" separator="," close=")">
                     #{item}
                </foreach>
            </if>
            and now() BETWEEN activity_info.start_time and activity_info.end_time
        </where>

    </select>

    <select id="findActivityRule" resultType="ActivityRuleMap">
        SELECT
            activity_info.activity_type as activityType,
            activity_rule.id,rule.activity_id,activity_rule.condition_amount,
            activity_rule.condition_num,activity_rule.benefit_amount,activity_rule.benefit_discount
        FROM activity_sku
                 INNER JOIN activity_info ON activity_info.id = activity_sku.activity_id
                 INNER JOIN activity_rule ON activity_sku.activity_id = activity_rule.activity_id
            AND activity_sku.sku_id = #{skuId}
        WHERE now() BETWEEN activity_info.start_time AND activity_info.end_time
        ORDER BY activity_rule.condition_amount DESC,activity_rule.condition_num desc
    </select>
</mapper>