<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hue.xgd.ttyx.activity.mapper.ActivityInfoMapper">
    
    <select id="selectSkuIdListExist" resultType="Long">
        select activity_sku.sku_id
        from activity_info
                 inner join activity_sku
                            on activity_info.id=activity_sku.activity_id
        <where>
            <if test="skuIdList!=null">
                and activity_sku.sku_id in
                <foreach collection="skuIdList" item="item" index="index" open="(" separator="," close=")">
                     #{item}
                </foreach>
            </if>
            and now() BETWEEN activity_info.start_time and activity_info.end_time
        </where>

    </select>

</mapper>